<h1>All Provinces</h1>
<table class="table table-stripped table-hover table-bordered">
  <thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Region</th>
  </tr>
  </thead>
  <tbody>
  <% @provinces.each do |province| %>
    <tr>
      <td><%= province.code %></td>
      <td><%= province.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>